@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

html * {
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#clock {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-size: 140px;
  color: teal;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  letter-spacing: 3px;
}

#date {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}
.date.is-show {
  display: block;
}

